

/* For PDF Export */
@media print {
    body * {
        visibility: hidden;
    }
    .report-content, .report-content * {
        visibility: visible;
    }
    .report-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
    }
    .no-print {
        display: none !important;
    }
}

@media not print {
    .print-only {
        display: none;
    }
}